.container {
    display: flex;
    justify-content: center;
}

button {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 8px inset blue;
    color: white;
    background-color: blue;
    box-shadow: -1px 7px 11px gray;
    cursor: pointer;
}
.image-container {
    display: flex;
    padding: 16px;
    align-items: center;
    justify-content: space-between;
}
.card {
    width: 70%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9e8e5;
    box-shadow: 0 0 20px 0px #adadad;
}

.clicked {
    box-shadow: -1px 7px 11px #575757;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrow {
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}


.main-image {
    max-width: 100%;
    height: auto;
    margin: 0 20px; /* Adjust spacing */
    transition: transform 0.3s;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.complain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #e9e8e5;
    box-shadow: 0 0 20px 0px #adadad;
}
.form-group {
    margin: 8px;
}
