body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#popup {
    position: absolute;
    background-color: lightblue;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#stopButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 25px 30px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
